@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: all;
}

html {
	scrollbar-gutter: stable;
}

.mobile-screenshot {
	float: right;
	margin-left: 1rem;
	margin-bottom: 1rem;
	max-width: 100%;
	height: auto;
	width: 360px;
	border: 4px solid #333;
	border-radius: 24px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}